mixin pagination(description)
  .pagination
    .pagination__pages
      .pagination__pages-item.pagination__pages-item_active 1
      .pagination__pages-item 2
      .pagination__pages-item 3
      .pagination__pages-item ...
      .pagination__pages-item 15
      .pagination__pages-item.pagination__pages-item_arrow
        i.zmdi.zmdi-arrow-right
    .pagination__description #{description}