//- .ui-container
.ui-wrapper
	.ui-container
		//- .ui-container__header Colors & Type
		.ui-container__content
			.colors 
				+colors("Dark Shade 100%", "#1F2041", "#1F2041")
				+colors("Dark Shade 75%", "#1F2041", "#1F2041BF")
				+colors("Dark Shade 50%", "#1F2041", "#1F204180")
				+colors("Dark Shade 25%", "#1F2041", "#1F204140")
				+colors("Dark Shade 5%", "#1F2041", "#1F20410D")
				+colors("Purple", "#BC9CFF", "#BC9CFF")
				+colors("Green", "#6FCF97", "#6FCF97")
			.titles
				.titles-block.titles-block--h1
					h1 This one is the sub-section or widget title
				.titles-block.titles-block--h2
					h2 Next one is the item title inside widgets
				.titles-block.titles-block--h3
					h3 This is a label or CTA text
				.titles-block.titles-block--body
					p This is the body text which is used for most of the design, like paragraphs, lists, etc.

