.find-room
	.find-room__title 
		h1 Найдём номера под ваши пожелания
	.find-room__date
		.column
			h3 Прибытие
			+dateDropdown("ДД.ММ.ГГГГ").mr-20(id="arrival")
		.column
			h3 Выезд
			+dateDropdown("ДД.ММ.ГГГГ")(id="departure")
		.calendar-wrapper.hide
			include calendar.pug
	.find-room__men.mb-30
		h3 Гости
		+dropdown("Сколько гостей")
	.find-room__button
		+button-wide("Подобрать номер", "#")