.footer-wrapper
	.container
		.footer
			.footer-aside
				.logo
					.logo__icon(style="background-image: url(./assets/img/icons/logo.png);")
					.logo__text(style="background-image: url(./assets/img/icons/toxin.png);")
				.footer-desc
					| Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam eget nullam pellentesque aliquam curabitur cociis.
			.footer-center
				.footer-center__col
					h3.footer-center__col-item.footer-col-header Navigation
					.footer-center__col-item About Us
					.footer-center__col-item News
					.footer-center__col-item Support
					.footer-center__col-item Products
				.footer-center__col
					h3.footer-center__col-item.footer-col-header ABOUT US
					.footer-center__col-item Who we are
					.footer-center__col-item Our team
					.footer-center__col-item Careers
					.footer-center__col-item Investors
				.footer-center__col
					h3.footer-center__col-item.footer-col-header Support
					.footer-center__col-item Documentation
					.footer-center__col-item Community
					.footer-center__col-item Get in Touch
			.footer-aside
				h3.footer-aside__header.footer-col-header
					| Subscribe to our newsletter
				.footer-aside__text
					| Receive our latest news and promotions in your inbox!
				.footer-aside__input
					+subscriptionField("Your email address")
	.footer-bottom-wrapper
		.container
			.footer-bottom
				.footer-bottom__copyright
					| Copyright © 2018 Toxin UI Kit. All rights reserved.
				.footer-bottom__socials
					a.social-link(link="#")
						i.fa.fa-twitter.icon-color(aria-hidden="true")
					a.social-link(link="#")
						i.fa.fa-facebook-square.icon-color(aria-hidden="true")
					a.social-link(link="#")
						i.fa.fa-instagram.icon-color(aria-hidden="true")