.footer-wrapper
	.container
		.footer-single
			.footer-single__logo.logo
				.logo__icon(style="background-image: url(./assets/img/icons/logo.png);")
				.logo__text(style="background-image: url(./assets/img/icons/toxin.png);")
			.footer-single__desc
				| Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam eget nullam pellentesque aliquam curabitur cociis.
			.footer-single__socials
				a.social-link(link="#")
					i.fa.fa-twitter.icon-color(aria-hidden="true")
				a.social-link(link="#")
					i.fa.fa-facebook-square.icon-color(aria-hidden="true")
				a.social-link(link="#")
					i.fa.fa-instagram.icon-color(aria-hidden="true")