- if (!login) var login = "login"
- if (!register) var register = "register"
//- - if (!headerMenu) var headerMenu = [{itemName:"Home"}, "About us", "Services", "Careers", " News", "Documentation"];
- if (!headerMenu) var headerMenu = {"Home":"0", "About us":"1", "Services":["first", "second", "third"], "Careers":"3", "News":"4", "Documentation":"5"};
//- - var Services = ["first", "second", "third"]
//- - if (!itemNumberList) var itemNumberList = "2";
- if (!itemNumberActive) var itemNumberActive = "0";

.header
	.header__logo.logo
		.logo__icon(style="background-image: url(./assets/img/icons/logo.png);")
		.logo__text(style="background-image: url(./assets/img/icons/toxin.png);")
	.header__nav
		//- - var 
		ul.navigation
			each val, index in headerMenu
				if (val == itemNumberActive)
					li.navigation__item.navigation__item--active #{index}
				if (val.length > 1)
					li.navigation__item.navigation__item--chevron #{index} 
						i.zmdi.zmdi-chevron-down.navigation-chevron
						ul.inner-list.hide
							each elem in val
								li.inner-list__item #{elem}

				else
					li.navigation__item #{index}
		.header-login
			.header-login__guest
				.header-login__guest-login
					+button-secondary(login, "#", "small")
				.header-login__guest-register
					+button-primary(register, "#", "small")