.header
	.header__logo.logo
		.logo__icon(style="background-image: url(./assets/img/icons/logo.png);")
		.logo__text(style="background-image: url(./assets/img/icons/toxin.png);")
	.header__nav
		ul.navigation
			li.navigation__item.navigation__item--active Home
			li.navigation__item About us
			li.navigation__item Services
			li.navigation__item Carrers
			li.navigation__item News
			li.navigation__item Documentation
		.header-login
			.header-login__user Cosmin Negoita