.Login-card
	.Login-card__title 
		h1 Войти
	.Login-card__name
		+labelInputText("Имя")
	.Login-card__secondname
		+labelInputText("Фамилия")
	.login-card__login
		+button-wide("Войти", "#")
	.Login-card__account-login
		.registration__account-login-text Hет аккаунта на Toxin?
		+button-secondary("Создать", "#")
	