.registration
	.registration__title 
		h1 Регистрация аккаунта
	.registration__name
		+labelInputText("Имя")
	.registration__secondname
		+labelInputText("Фамилия")
	.registration__male
		+radiobutton("Мужчина", "man", "man", "male", "checked").mr-20
		+radiobutton("Женщина", "woman", "woman", "male")
	.registration__burthday
		h3 Дата рождения
		+dateDropdown("ДД.ММ.ГГГГ")
	.registration__login
		h3 Данные для входа на сервис
		+labelInputText("Email")
	.registration__password
		+labelInputText("Email")
	.registration__toggle
		+toggle("Получать спецпредложения")
	.registration__account-login
		.registration__account-login-text Уже есть аккаунт на Toxin
		+button-secondary("Войти", "#")
	