mixin subscribe(placeholder)
    label.subscribe(class="label--arrow")&attributes(attributes)
      input.subscribe__input(type='email' placeholder= placeholder)
      .subscribe__arrow
        i.zmdi.zmdi-arrow-right.subscribe__icon