.checkbox {
  margin-bottom: 10px;
  min-width: 200px;
  cursor: pointer;
  position: relative;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;

  display: flex;
}
/* Cкрываем стандартный чекбокс */
.checkbox__input {
  display: none;
}
/* Новый чекбокс */
.checkbox__new-input {
  flex-shrink: 0;
  // left: -30px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: $dark-shade-50;
  width: 20px;
  height: 20px;
  position: relative;

  background: #FFFFFF;

  border: 1px solid $dark-shade-25;
  box-sizing: border-box;
  border-radius: 4px;
}
/* Новый чекбокс при выборе */
.checkbox__input:checked + .checkbox__new-input {
  border-color: $purple;

  .checkbox__check-item {
    display: block;
  }
}
.checkbox__check-item {
  display: none;
  position: absolute;
  top: 4px;
  left: 6px;
  width: 6px;
  height: 8px;
  transform: rotate(45deg);
  background: linear-gradient($primary-gradient);
 &:after {
    position: absolute;
    display: block;
    content: '';
    bottom: 2px;
    right: 2px;
    width: 5px;
    height: 7px;
    background-color:$default-color;
 }
}
.checkbox__text {
  padding-left: 10px;
}

.expandable-checkbox {
  position: relative;
  width: 100%;
  min-width: 250px;
  cursor: pointer;
  &__header {
    margin-bottom: 18px;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: $dark-shade;

  }
  &__list {
    display: none;
  }
  &__arrow {
    position: absolute;
    top: -5px;
    right: 16px;
    font-weight: normal;
    font-size: 24px;
    line-height: 24px;
    color: $dark-shade-50;
  }
  &__list-item {
    margin-bottom: 10px;
  }
  // &--active {
  // 	.expandable-checkbox__list {
  // 		display: block;
  // 	}
  // 	.expandable-checkbox__arrow {
  // 		transform: rotate(180deg);
  // 	}
  // }
}
.expandable-checbox--active {
  .expandable-checkbox__list {
    display: block;
  }
  .expandable-checkbox__arrow {
    transform: rotate(180deg);
  }
}
.label-check-rich {
  @extend .checkbox;
  font-weight: bold;
  margin-bottom: 10px;

  &__input {
    @extend .checkbox__input;
  }
  &__new-input {
    @extend .checkbox__new-input;
  }

  &__description {
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: $dark-shade-50;
    margin-top: 6px;
  }
}
