.calendar {
  min-width: 265px;
  padding: 19px 19px 10px 21px;
  background: $default-color;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
  border-radius: 4px;
  margin-bottom: 40px;

  @media (max-width: 350px) {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.calendar__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 42px;
  &-left, &-right {
    font-size: 24px;
    line-height: 20px;
    color: $purple;
    cursor: pointer;
  }
  &-right {
    margin-right: 5px;
  }
  &-left {
    margin-left: 2px;
  }
}

.calendar__week {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-bottom: 13px;
}

.calendar__date {
  display: flex;
  flex-wrap: wrap;
}

.calendar__week-item {
  display: inline-block;
  text-align: center;
  color: $purple;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
}

.calendar__day {
  
  box-sizing: border-box;
  display: inline-block;
  text-align: center;
  width: 14.28571%;
  height: 40px;
  padding-top: 12px;
  font-size: 12px;
  line-height: 15px;
  cursor: pointer;
  &_today {
    background: linear-gradient($secondary-gradient);
    border-radius: 22px;
    color: $default-color;
    &.calendar__day_previous-month,
    &.calendar__day_next-month {
      color: $default-color;
    }
  }
  &_period {
    background: linear-gradient($primary-gradient);
    border-radius: 22px;
    color: $default-color;
    position: relative;
    z-index: 2;
    &.calendar__day_previous-month,
    &.calendar__day_next-month {
      color: $default-color;
    }
  }
  &_period_begin, 
  &_period_end {
    &:before {
      position: absolute;
      content: '';
      width: 20px;
      height: 40px;
      top: 0;
      right: 0;
      background: linear-gradient($primary-gradient);
      opacity: 0.25;
      z-index: -1;
    }
  }
  &_period_end {
    &:before {
      right: auto;
      left: 0;
    }
  }
  &_period_between {
    position: relative;
    background: linear-gradient($primary-gradient-transp);
  }
  &_error {
    background: $danger-color;
    border-radius: 22px;
    color: $default-color;
    &.calendar__day_previous-month,
    &.calendar__day_next-month {
      color: $default-color;
    }
  }
  &_another-month,
  &_previous-month,
  &_next-month {
    color: $dark-shade-25;
  }
}

.calendar__action {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  margin: 15px 0 5px -2px;
}

.calendar-wrapper {
  position: absolute;
  z-index: 15;
  top: 70px;
}


