mixin ratebutton(activeStars)
  - var starsCount = 5
  - var i = 0
  .ratebutton&attributes(attributes)
    while i < starsCount
      if i < activeStars
        .ratebutton__star.ratebutton__star--active
          i.zmdi.zmdi-star.icon-color
      else
        .ratebutton__star
          i.zmdi.zmdi-star-outline.icon-color
      - i++