mixin pagination(description)
	.pagination
		.pagination__pages
			.pagination__pages-item.pagination__pages-item--active 1
			.pagination__pages-item 2
			.pagination__pages-item 3
			.pagination__pages-item ...
			.pagination__pages-item 15
			.pagination__pages-item.pagination__pages-item--arrow <i class="zmdi zmdi-arrow-right zmdi-hc-2x"></i>
		.pagination__description #{description}