mixin ratebutton(activeStars)
	- var starsCount = 5
	- var i = 0
	.ratebutton&attributes(attributes)
		while i < starsCount
			if i < activeStars
				.ratebutton__star.ratebutton__star--active <i class="zmdi zmdi-star"></i>
			else
				.ratebutton__star <i class="zmdi zmdi-star-outline"></i>
			- i++
		