mixin labelInputText(placeholder)
	label.label&attributes(attributes)
		input.input-text(type='text' placeholder= placeholder)

mixin subscriptionField(label, placeholder)
	label.label(class="label--arrow") #{label}
		.label__arrow
			i.zmdi.zmdi-arrow-right.icon-color
		input.input-text(type='text' placeholder= placeholder)&attributes(attributes)