mixin labelInputText(placeholder)
	label.label&attributes(attributes)
		input.input-text(type='text' placeholder= placeholder)

mixin subscriptionField(placeholder)
	label.label(class="label--arrow")
		.label__arrow
			i.zmdi.zmdi-arrow-right.icon-color
		input.input-text.subscribe-input(type='text' placeholder= placeholder)&attributes(attributes)