extends ../layout/ui-layout/ui-layout.pug
include ../../blocks/palette/palette.pug

block variables
  - var title = 'Form elements';
  //- - var pageClass = 'body--dashboard';

block content

  .page
    img.page-icon(src="./assets/img/icons/logo-page.png" alt="logo")
    .container
      .colors-and-types
        .colors-and-types__colors 