extends ../layout/ui-layout/ui-layout.pug

block variables
  - var title = 'Headers and footers';

block content

  .page.page_theme_dark
    .headers-and-footers
      .headers-and-footers__guest-header
        include ../../blocks/header/header.pug
      .headers-and-footers__user-header
        include ../../blocks/header/header.pug



      //- .container


    //-   .ui-wrapper.ui-container--dark.ui-container--header
    //- .section-wrapper.mb-40
    //- 	.container
    //- 		include ../sections/header-guest.pug
    //- .section-wrapper.mb-40
    //- 	.container
    //- 		include ../sections/header-user.pug
    //- include ../sections/footer.pug
    //- include ../sections/footer-single.pug
//- include ../../blocks/find-room/find-room.pug