extends ../layout/page.pug

block variables
  - var title = 'Главная страница';
  - var description = 'FSD-education-program. The-2nd-task';

block content
  .container
    .index-page
      .title-1.index-page__title Progect Toxin-Booking
      .index-page__content
        .index-page__col
          .title-2.index-page__subtitle UI-Kit
          .index-page__col-item
            +button-link-secondary({text: "colors and types", small: false, link: "colors-and-types.html"}).button-secondary_width_custom
          .index-page__col-item
            +button-link-secondary({text: "Form elements", small: false, link: "form-elements.html"}).button-secondary_width_custom
          .index-page__col-item
            +button-link-secondary({text: "Cards", small: false, link: "cards.html"}).button-secondary_width_custom
          .index-page__col-item
            +button-link-secondary({text: "headers and footers", small: false, link: "headers-and-footers.html"}).button-secondary_width_custom
        .index-page__col
          .title-2.index-page__subtitle Progect
          .index-page__col-item
            +button-link-primary({text: "Registration", small: false, link: "registration.html"}).button-primary_width_custom
          .index-page__col-item
            +button-link-primary({text: "Login", small: false, link: "sign-in.html"}).button-primary_width_custom
          .index-page__col-item
            +button-link-primary({text: "main", small: false, link: "landing.html"}).button-primary_width_custom
          .index-page__col-item
            +button-link-primary({text: "Search room", small: false, link: "search-room.html"}).button-primary_width_custom
          .index-page__col-item
            +button-link-primary({text: "Room details", small: false, link: "room-details.html"}).button-primary_width_custom