//- extends ../layout/main

//- block variables
//-   - var title = 'Toxin-Booking';
//-   - var description = 'FSD-education-program. The-2nd-task';
//-   - var pageClass = 'index-page';

//- block content
//-   section
//-     .container
//-       h1 hello world

extends ../layout/page.pug

block variables
	- var title = 'Главная страница';
	- var description = 'FSD-education-program. The-2nd-task';
	//- - var pageClass= "index-page";

block content
	//- .ui-container
	//- 	.ui-container__content
	.container
		.title-1.text-center.mb-55 Проект Toxin-Booking
		.row
			.col
				.card.align-items-center.pb-35
					.title-2 UI-Kit
					+button-secondary("перейти", "ui-kit.html")
					//- a(href="ui-kit.html")="перейти2"
					//- +button("Перейти", "ui/ui-kit.html")
			.col
				.card.align-items-center.pb-35
					.title-2 Главная страница
					//- button перейти
					+button-primary("Регистрация", "registration.html")
					+button-primary("Логин", "sign-in.html")
					+button-primary("Главная", "landing.html")
					+button-primary("Поиск номера", "search-room.html")
			