extends ../layout/page.pug

block variables
  - var pageClass = 'body'
  - var title = 'Поиск номера';
  - var register = 'Зарегистрироваться';
  - var login = 'Войти';
  - var Services = ["first", "second", "third"];
  -
    var headerMenu = [
      {title: "О нас", url: "#", submenu: ""},
      {title: "Услуги", url: "#", submenu: Services},
      {title: "Вакансии", url: "#", submenu: ""},
      {title: "Новости", url: "#", submenu: ""},
      {title: "Соглашения", url: "#", submenu: Services}
    ];
  - var footerDescText = 'Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»';
  - var footerSubscribeHeader = 'Подписка';
  - var footerSubscribeText = 'Получайте специальные предложения и новости сервиса';
  - var emailPlaceholder = 'Email';
  - var copyRights = 'Copyright © 2018 Toxin отель. Все права зачищены.';
  -
    var footerMenu = [
      {title: "навигация", submenu: [
        {title: "О нас", link: "#"},
        {title: "Новости", link: "#"},
        {title: "Служба поддержки ", link: "#"},
        {title: "Услуги", link: "#"}
      ]},
      {title: "О нас", submenu: [
        {title: "О сервисе", link: "#"},
        {title: "Наша команда", link: "#"},
        {title: "Вакансии", link: "#"},
        {title: "Инвесторы", link: "#"}
      ]},
      {title: "Служба поддержки", submenu: [
        {title: "Соглашения", link: "#"},
        {title: "Сообщества", link: "#"},
        {title: "Связь с нами", link: "#"}
      ]}
    ];

block content

  .room-details
    include ../../blocks/header/header.pug
    .room-details__collage(data-slider)
      .room-details__collage-wrapper(data-slider-container)
        .room-details__collage-main(style="background-image: url(./assets/img/big-images/room-888-big.jpg);" data-slider-item)
        .room-details__collage-secondary(style="background-image: url(./assets/img/big-images/room-888-medium.jpg);" data-slider-item)
        .room-details__collage-secondary(style="background-image: url(./assets/img/big-images/room-888-medium-2.jpg);" data-slider-item)
      .room-details__pagination
        .arrows
          .arrows__shadow
          .arrows__arrow-left(data-slider-left-arrow)
            i.zmdi.zmdi-chevron-left
          .arrows__arrow-right(data-slider-right-arrow)
            i.zmdi.zmdi-chevron-right
        .slider-pagination(data-slider-pagination)
    .room-details__container
      .room-details__info
        .room-details__comfort
          .room-comfort
            .title-2.room-comfort__title Сведения о номере
            .room-comfort__item
              +comfort("Комфорт", "Шумопоглощающие стены", "zmdi zmdi-mood")
            .room-comfort__item
              +comfort("Удобство", "Окно в каждой из спален", "zmdi zmdi-city")
            .room-comfort__item
              +comfort("Уют", "Номер оснащён камином", "zmdi zmdi-fire")
          .room-voites
            .room-voites__header.title-2 Впечатления от номера
            .room-voites__diagramm
              include ../../blocks/diagramm/diagramm.pug
              ul.diagramm-types
                li.diagramm-types__item.diagramm-types__item_color_orange(data-diagramm-great) Великолепно
                li.diagramm-types__item.diagramm-types__item_color_green(data-diagramm-good) Хорошо
                li.diagramm-types__item.diagramm-types__item_color_violet(data-diagramm-acceptable) Удовлетворительно
                li.diagramm-types__item.diagramm-types__item_color_dark(data-diagramm-disappointed) Разочарован
        .room-details__comments
          .room-comments
            .room-comments__header
              .title-2 Отзывы посетителей номера
              .comments-count 2 отзыва
            .room-comments__comment
              +comment({
                author: "Мурад Сарафанов", 
                avatarLink: "./assets/img/avatar/avatar.png", 
                time: "5 дней назад", 
                text: "Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.", 
                likeCount: "12", 
                likeCheck: true
                })
            .room-comments__comment
              +comment({
                author: "Патрисия Стёклышкова", 
                avatarLink: "./assets/img/avatar/patricia.png", 
                time: "Неделю назад", 
                text: "Обслуживание на высоте! Всё аккуратно, чисто. Завтраки в номер советую заказать, каждый день новое блюдо и десерт как комплимент", 
                likeCount: "2", 
                likeCheck: false
                })
          .room-rules
            .room-rules__rules
              .title-2.room-rules__rules-header Правила
              +bulletList(['Нельзя с питомцами', 'Без вечеринок и мероприятий', 'Время прибытия — после 13:00, а выезд до 12:00'])
            .room-rules__cancel
              .title-2.room-rules__cancel-header Отмена
              | Бесплатная отмена в течение 48 ч. После этого при отмене не позднее чем за 5 дн. до прибытия вы получите полный возврат за вычетом сбора за услуги.

      .room-details__room-price-card
        include ../../blocks/room-price-card/room-price-card.pug


  include ../../blocks/footer/footer.pug
