//- extends ../../layout/ui-layout/ui-layout.pug
extends ../layout/ui-layout/ui-layout.pug

block variables
	- var title = 'UI-kit';
	- var pageClass = 'body--dashboard';

block content

	.ui-container
		.ui-container__header Colors & Type
		.ui-container__content
			.colors 
				+colors("Dark Shade 100%", "#1F2041", "#1F2041")
				+colors("Dark Shade 75%", "#1F2041", "#1F2041BF")
				+colors("Dark Shade 50%", "#1F2041", "#1F204180")
				+colors("Dark Shade 25%", "#1F2041", "#1F204140")
				+colors("Dark Shade 5%", "#1F2041", "#1F20410D")
				+colors("Purple", "#BC9CFF", "#BC9CFF")
				+colors("Green", "#6FCF97", "#6FCF97")
			.titles
				+titles("H1", "This one is the sub-section or widget title", "24px")
				+titles("H2", "Next one is the item title inside widgets", "19px")
				+titles("H3", "This is a label or CTA text", "12px")
				+titles("Body", "This is the body text which is used for most of the design, like paragraphs, lists, etc.")
	.ui-container
		.ui-container__header Form Elements
		.ui-container__content