//- extends ../../layout/ui-layout/ui-layout.pug
extends ../layout/ui-layout/ui-layout.pug

block variables
	- var title = 'UI-kit';
	- var pageClass = 'body--dashboard';

block content

	include ../sections/colors-and-type.pug
	include ../sections/form-elements.pug
	.ui-wrapper.ui-container--dark
		.ui-container
			.ui-container__content
				.column
					.find-room-wrapper
						include ../sections/find-room.pug
					include ../sections/registration-card.pug
				.column
					include ../sections/room-price.pug
					include ../sections/login-card.pug
				.column
					include ../sections/calendar.pug
					+roomCard("./assets/img/images/image_888.png", "888", "9 990", "5", "145", "люкс", "arrows")
					+roomCard("./assets/img/images/image_840.png", "840", "9 900", "4", "65")
	.ui-wrapper.ui-container--dark.ui-container--header
		.section-wrapper.mb-40
			.container
				include ../sections/header-guest.pug
		.section-wrapper.mb-40
			.container
				include ../sections/header-user.pug
		include ../sections/footer.pug
		include ../sections/footer-single.pug
