//- extends ../../layout/ui-layout/ui-layout.pug
extends ../layout/ui-layout/ui-layout.pug

block variables
	- var title = 'UI-kit';
	- var pageClass = 'body--dashboard';

block content

	.ui-container
		.ui-container__header Colors & Type
		.ui-container__content
			.colors 
				+colors("Dark Shade 100%", "#1F2041", "#1F2041")
				+colors("Dark Shade 75%", "#1F2041", "#1F2041BF")
				+colors("Dark Shade 50%", "#1F2041", "#1F204180")
				+colors("Dark Shade 25%", "#1F2041", "#1F204140")
				+colors("Dark Shade 5%", "#1F2041", "#1F20410D")
				+colors("Purple", "#BC9CFF", "#BC9CFF")
				+colors("Green", "#6FCF97", "#6FCF97")
			.titles
				+titles("H1", "This one is the sub-section or widget title", "24px")
				+titles("H2", "Next one is the item title inside widgets", "19px")
				+titles("H3", "This is a label or CTA text", "12px")
				+titles("Body", "This is the body text which is used for most of the design, like paragraphs, lists, etc.")
	.ui-container
		.ui-container__header Form Elements
		.ui-container__content
			.column.mr-25
				+labelInputText("text field", "Email", "textfield-default")
				+labelInputText("text field", "This is pretty awesome", "textfield-hover-focus")
				+dropdown("dropdown", "Сколько гостей", "", "", "", "default")
				+dateDropdown("masked text field", "ДД.ММ.ГГГГ", "default" ).dropdown__header--mask
				.column__inner-row
					+dateDropdown("date Dropdown", "ДД.ММ.ГГГГ").mr-20
					+dateDropdown("date Dropdown", "19.08.2019")
				.column.mr-50
					+filterDateDropdown("filter date dropdown", "19 авг - 23 авг")
					+subscriptionField("subscription text field", "Email")
					
			.column.ml-100
				.small-header.mb-15 checkbox buttons
				+checkbox("Можно курить")
				+checkbox("Можно с питомцами", "Check")
				+checkbox("Можно пригласить гостей (до 10 человек)", "Check")
				.small-header.mb-15.mt-40 radio buttons
				.column__inner-row
					+radiobutton("Мужчина", "man", "man", "male", "checked").mr-20
					+radiobutton("Женщина", "woman", "woman", "male")
				.small-header.mb-15.mt-40 toggle
				+toggle("Получать спецпредложения", "checked")
				+toggle("Получать спецпредложения")
				.small-header.mb-15.mt-40 like button
				.column__inner-row
					+likebutton("2").mr-10
					+likebutton("12", "checked")
				.small-header.mb-15.mt-40 rate button
				.column__inner-row
					+ratebutton("4").mr-20
					+ratebutton("5")
					


			.column
		.ui-container__content
			.column.pr-50
				+dropdown("Dropdown", "2 спальни, 2 кровати...", "", "", "", "default")
				+dropdown("Dropdown", "2 спальни, 2 кровати...", "room", ['спальни', 'кровати', 'ванные комнаты'], "", "expanded")(class="dropdown__header--active")
			.column
				+dropdown("Dropdown", "Сколько гостей", "room", ['взрослые', 'дети', 'младенцы'],"apply" , "")(class="dropdown__header--active")
			.column
				+dropdown("Dropdown", "3 гостя", "room", ['взрослые', 'дети', 'младенцы'],"apply" , "")(class="dropdown__header--active")