//- extends ../../layout/ui-layout/ui-layout.pug
extends ../layout/ui-layout/ui-layout.pug

block variables
	- var title = 'UI-kit';
	- var pageClass = 'body--dashboard';

block content

	include ../sections/colors-and-type.pug
	include ../sections/form-elements.pug
	.ui-container.ui-container--dark
		.ui-container__header Cards
		.ui-container__content
			.column
				include ../sections/find-room.pug
				include ../sections/registration-card.pug
			.column
				include ../sections/room-price.pug
				include ../sections/login-card.pug
			.column
				include ../sections/calendar.pug
				+roomCard("./assets/img/images/image_888.png", "888", "9990", "5", "145", "люкс", "arrows")
				+roomCard("./assets/img/images/image_840.png", "840", "9900", "4", "65")
	.ui-container.ui-container--dark.ui-container--header
		.header-wrapper
			.container
				include ../sections/header-guest.pug
		.header-wrapper
			.container
				include ../sections/header-user.pug