.header {
	display: flex;
	justify-content: space-between;
	padding-top: 15px;
	padding-bottom: 15px;
}
.header__logo {
	
}
.navigation {
	display: flex;

	&__item {
		margin-right: 30px;
		margin-top: 10px;
		font-weight: normal;
		font-size: 14px;
		line-height: 17px;
		color: $dark-shade-50;
	}
}
.header__nav {
	display: flex;
	margin-top: 3px;
}
.container {
	max-width: 1160px;
	margin: 0 auto;
}
.logo {
	display: flex;
	&__icon {
		width: 40px;
		height: 40px;
	}
	&__text {
		width: 54px;
		height: 14px;
		margin-top: 12px;
		margin-left: 12px;
	}
}
.header-login {
	// height: 34px;
	margin-top: 2px;
	&__user {
		padding-left: 30px;
		padding-bottom: 4px;
		padding-top: 4px;
		border-left: 1px solid $dark-shade-10;
	}
	&__guest {
		min-height: 30px;

	}
}