.header {
	display: flex;
	justify-content: space-between;
	padding-top: 19px;
	padding-bottom: 19px;
	height: 70px;
	background-color: #fff;
}
.navigation {
	display: flex;
	margin-right: 29px;
	&__item {
		padding-top: 8px;
		margin-right: 30px;
		font-weight: normal;
		font-size: 14px;
		line-height: 17px;
		color: $dark-shade-50;
		cursor: pointer;
		&:last-child {
			margin-right: 0;
		}
		&:hover {
			// font-weight: bold;
			color: $dark-shade-75;
		}
		&--active {
			font-weight: bold;
			color: $dark-shade-75;
		}
		&--chevron {
			position: relative;
			margin-right: 25px;
			padding-right: 17px;
			cursor: pointer;
			position: relative;
			// border: 1px solid red;
			&:hover {
				.inner-list {
					display: block;
				}
			}
		}
	}
}

.header__nav {
	display: flex;
}

.logo {
	display: flex;
	&__icon {
		width: 40px;
		height: 40px;
		margin-top: -4px;
	}
	&__text {
		width: 54px;
		height: 14px;
		margin-top: 9px;
		margin-left: 12px;
	}
}
.header-login {
	&__user {
		margin-top: 1px;
		padding-left: 31px;
		padding-bottom: 3px;
		padding-top: 3px;
		border-left: 1px solid $dark-shade-10;
		color: $dark-shade-50;
	}
	&__guest {
		display: flex;
		margin-top: -1px;
	}
	&__guest-login {
		margin-right: 21px;
	}
}
.navigation-chevron {
	position: absolute;
	top: 7px;
	right: 0;
	font-size: 24px;
	line-height: 20px;
	color: $dark-shade-50;
	cursor: pointer;
}
.inner-list {
	display: none;
	position: absolute;
	// margin-top: 26px;
	padding-top: 26px;
	background-color: #fff;
	// border: 1px solid $dark-shade-25;
	min-width: 120px;
	z-index: 5;
	&__item {
		padding: 10px;
		border: 1px solid $dark-shade-25;
		border-bottom: none;
		background-color: #fff;
		&:last-child {
			border-bottom: 1px solid $dark-shade-25;
		}
		&:hover {
			background-color: $dark-shade-5;
		}
	}
	
}