.registration {
	width: 380px;
	padding: 45px 30px 30px;
	background: $default-color;
	border: 1px solid rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
	border-radius: 4px;
}

.registration__account-login {
	display: flex;
	justify-content: space-between;
}
.registration__account-login-text {
	display: inline-block;
	padding-top: 12px;
}