.room-card {
	width: 270px;
	background: $default-color;
	// border: 1px solid rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
	border-radius: 4px;
	margin-bottom: 40px;
	overflow: hidden;
	padding-bottom: 20px;
	&__header {
		height: 150px;
		position: relative;
	}
	&__header-shadow {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		content: "";
		background: linear-gradient(to right, rgba(0, 0, 0, 0.5) 0%, rgba(255, 255, 255, 0) 20%, rgba(255, 255, 255, 0) 80%, rgba(0, 0, 0, 0.5) 100%);
	}
	&__header-arrow-left,
	&__header-arrow-right {
		position: absolute;
		top: 65px;
		left: 18px;
		font-size: 24px;
		line-height: 24px;
		color: $default-color;
	}
	&__header-arrow-right {
		left: auto;
		right: 18px;
	}
	&__title {
		@extend .room-price__title;
		border-bottom: 2px solid $dark-shade-10;
		padding-top: 25px;
		padding-bottom: 15px;
		margin-left: 20px;
		margin-right: 20px;
	}
	&__feedback {
		margin: 10px 20px 0;
		display: flex;
		justify-content: space-between;
		color: $dark-shade-50;
		font-size: 14px;
		line-height: 18px;
	}
	&__feedback-comments span{
		font-weight: bold;
		color: $dark-shade-50;
	}
}
.room-card__header-pagination {
	position: absolute;
	right: 15px;
	bottom: 10px;
}
.room-card-pagination-item {
	display: inline-block;
	width: 7px;
	height: 7px;
	border-radius: 4px;
	border: 1px solid $default-color;
	margin-left: 4px;
	&--active {
		background-color: $default-color;
	}
}