.input-text {
  border: 1px solid $dark-shade-25;
  box-sizing: border-box;
  border-radius: 4px;
  width: 100%;
  padding: 9px 14px;
  font-family: $mainFont;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: $dark-shade-75;
  outline: none;
  &:hover,
  &:focus,
  &:active {
    color: $dark-shade-75;
    border: 1px solid $dark-shade-50;
  }
  &::placeholder {
    font-family: $mainFont;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: $dark-shade-25;
  }
}
// .label__arrow{
//   display: block;
//   position: absolute;
//   font-weight: normal;
//   font-size: 24px;
//   line-height: 24px;
//   right: 0;
//   top: 0;
//   padding: 0 13px;
//   height: 100%;
//   display: flex;
//   align-items: center;
//   cursor: pointer;
// }
.label {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: $dark-shade;
  margin-top: 5px;
  position: relative;
}

.textfield-hover-focus .input-text {
  border: 1px solid $dark-shade-50;
  &::placeholder {
    color: $dark-shade-75;
  }
}