mixin inputText(placeholder, subscribe)
  if subscribe
    label.label(class="label--arrow")
      input.input-text.subscribe-input(type='email' placeholder= placeholder)&attributes(attributes)
      .label__arrow
        i.zmdi.zmdi-arrow-right.icon-color
  else
    input.input-text(type='text' placeholder= placeholder)&attributes(attributes)

//- mixin subscriptionField(placeholder)
//-   label.label(class="label--arrow")
//-     .label__arrow
//-       i.zmdi.zmdi-arrow-right.icon-color
//-     input.input-text.subscribe-input(type='text' placeholder= placeholder)&attributes(attributes)