.ui-container {
	max-width: 1440px;
	margin: 0 auto;
	background: #fff;
	margin-top: 160px;
	position: relative;
	padding: 140px;
}
.ui-container__header {
	position: absolute;
	top: -20px;
	left: 0;
}
.ui-container__content {
	display: flex;
	justify-content: space-between;
	// padding: 140px;
}
.palette {
	position: relative;
	padding-left: 120px;
	height: 70px;
	margin-bottom: 19px;
}
.palette__color {
	position: absolute;
	width: 70px;
	height: 70px;
	left: 20px;
	top: -10px;
	border-radius: 6px;
}
.titles-block {
	display: flex;
	width: 420px;
	margin-bottom: 50px;
}
.titles-block__name {
	width: 65px;
	text-align: right;
	padding-right: 30px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	line-height: 29px;
	color: rgba(31, 32, 65, 0.25);
}
.column__inner-row {
	display: flex;
}
.column__inner-column {
	margin-right: 50px;
}
.small-header {
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	line-height: 15px;
	text-transform: uppercase;
	color: $dark-shade;
}
.textfield-default:before {
	content: "default";
	position: absolute;
	right: 0px;
	top: -15px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	text-transform: uppercase;
	font-size: 12px;
	line-height: 15px;
	color: $dark-shade-50;
}
.textfield-hover-focus:before {
	@extend .textfield-default:before;
	content: "hover / focus";
}
.textfield-expanded:before {
	@extend .textfield-default:before;
	content: "expanded";
}
.ui-container--dark {
	background-color: #F4F4F6;
}
.ui-container--header {
	padding-left: 0;
	padding-right: 0;
}
.section-wrapper {
	width: 100%;
	background-color: $default-color;
	box-shadow: 0px 10px 20px $dark-shade-5;
	margin-bottom: 40px;
}

