.colors-and-types {
  padding-top: 145px;
  padding-bottom: 145px;
  display: flex;
  @media (min-width: 351px) and (max-width: 1199px) {
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
  }

  @media (max-width: 767px) {
    flex-direction: column;
  }

  @media (max-width: 350px) {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.colors-and-types__colors {
  width: 60%;
  min-width: 270px;

  @media (max-width: 1199px) {
    width: auto;
    margin-right: 30px;
    margin-bottom: 40px;
  }
}

.colors-and-types__titles {
  width: 40%;

  @media (max-width: 1199px) {
    width: auto;
  }
}

.colors-and-types__colors-item {
  margin-bottom: 20px;
}

.colors-and-types__titles-item {
  display: flex;
  max-width: 355px;
  margin-bottom: 50px;
  margin-left: 65px;
  position: relative;

  p {
    padding-right: 40px;
  }

  &_size_h1:before,
  &_size_h2:before,
  &_size_h3:before,
  &_size_body:before {
    position: absolute;
    content: "H1";
    top: 0;
    left: -58px;
    color: $dark-shade-25;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
  }

  &_size_h2:before {
    content: "H2";
    left: -56px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    line-height: 23px;
  }

  &_size_h3 {
    margin-bottom: 47px;
  }

  &_size_h3:before {
    content: "H3";
    left: -47px;
    font-size: 12px;
    line-height: 15px;
  }
  
  &_size_body:before {
    content: "Body";
    left: -67px;
    font-size: 14px;
    line-height: 24px;
  }
}