.search-room {
  background-color: $default-color;
  flex-grow: 1;
  z-index: 1;
  border-bottom: 1px solid $dark-shade-25;

  &__container {
    max-width: 1160px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 71px;

    @media (max-width: 1200px) {
      padding-left: 15px;
      padding-right: 15px;
    }

    @media (max-width: 923px) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__filter-wrapper {
    display: flex;
    align-self: flex-start;
    transition: all 0.4s ease;

    @media (max-width: 923px) {
      top: 0;
      position: fixed;
      flex-direction: column;
      align-items: stretch;
      z-index: 50;
    }

    @media (max-width: 615px) {
      left: -500px;
    }
  }

  &__filter-container {
    min-width: 266px;
    margin-right: 50px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    transition: all 0.4s ease;

    @media (min-width: 616px) and (max-width: 923px) {
      position: absolute;
      left: -500px;
    }
  }


  &__filter-wrapper_show {
    display: flex;
    position: fixed;
    overflow: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    .search-room__filter-container {
      left: 0;
      bottom: 0;
      top: 0;
      margin-right: 0;
    }
    
    @media (min-width: 616px) and (max-width: 923px) {
      background-color: $dark-shade-75;
    }

    @media (max-width: 615px) {
      background-color: $default-color;
      align-items: center;
      left: 0;
      bottom: 0;
      top: 0;
      right: 0;
    }
  }

  &__filter-text {
    display: none;

    @media (max-width: 923px) {
      display: flex;
      max-width: 295px;
      padding: 15px;
      justify-content: space-between;
      background-color: $default-color;
      align-self: stretch;
    }
  }

  &__filter-close {
    cursor: pointer;
    font-size: 24px;
    line-height: 1;
    transition: all 0.4s ease-in;
    &:hover {
      color: $dark-shade-50;
    }
  }

  &__filter-button-wrapper {
    display: none;
    
    @media (max-width: 923px) {
      display: block;
      z-index: 60;
      background-color: $default-color;
      max-width: 295px;
      padding: 15px;
      margin-bottom: 0;
      order: 1;
      text-align: right;
      align-self: stretch;
      z-index: 60;
      flex-grow: 1;
    }
  }

  &__filter-button {
    flex-grow: 1;
  }

  &__filter {

    @media (max-width: 615px) {
      margin-right: 0;
    }

    @media (max-width: 923px) {
      max-width: 295px;
      padding: 15px;
      display: flex;
      flex-direction: column;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 10;
      background-color: $default-color;
    }

  }
  
  &__filter-header {
    margin-bottom: 5px;
  }

  &__filter-date-dropdown {
    margin-bottom: 20px;
  }

  &__filter-guests-dropdown {
    margin-bottom: 31px;
  }

  &__filter-slider-description {
    font-size: 12px;
    line-height: 14px;
    color: $dark-shade-50;
    margin-top: 15px;
    margin-bottom: 28px;
  }

  &__filter-checkbox {
    margin-bottom: 32px;
    max-width: 240px;
  }

  &__filter-checkbox-title {
    margin-bottom: 17px;
  }

  &__filter-checkbox-item {
    margin-bottom: 10px;
  }

  &__filter-checkbox-rich {
    margin-bottom: 30px;
  }

  &__filter-checkbox-rich-title {
    margin-bottom: 16px;
  }

  &__filter-checkbox-rich-item {
    margin-bottom: 9px;

    &_narrow {
      max-width: 220px;
    }
  }

  &__filter-room-dropdown {
    margin-bottom: 24px;
  }

  &__main {
    display: flex;
    flex-direction: column;
    align-self: stretch;

    @media (max-width: 615px) {
      align-items: center;
    }
  }

  &__main-button-wrapper {
    margin-bottom: 20px;
    @media (min-width: 924px) {
      display: none;
    }
  }

  &__main-header {
    margin-bottom: 20px;
    padding-left: 9px;
    @media (max-width: 615px) {
      padding-left: 0;
      text-align: center;
    }
  }

  &__main-rooms {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
    @media (max-width: 615px) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__main-rooms-item {
    margin-left: 10px;
    margin-bottom: 20px;
    box-sizing: border-box;

    @media (max-width: 615px) {
      margin-left: 0;
    }
  }

  &__main-pagination {
    margin-top: 20px;
    align-self: center;
  }
}