form.find-room
  .title-1.find-room__header-title Найдём номера под ваши пожелания
  .find-room__date
    .find-room__date-arrival
      .title-3.find-room__title Прибытие
      .find-room__date-arrival-input
        +dateDropdown("ДД.ММ.ГГГГ")(data-find-room-arrival="find-room")
    .find-room__date-leave
      .title-3.find-room__title Выезд
      .find-room__date-leave-input
        +dateDropdown("ДД.ММ.ГГГГ")(data-find-room-departure="find-room")
    .calendar-wrapper.hide
      +calendar("find-room")
  .find-room__men.mb-30
    .title-3.find-room__title Гости
    +dropdown("Сколько гостей", ['взрослые', 'дети', 'младенцы'],"apply")(id="dropdown-guests")
  .find-room__button
    +button-form-wide({text: "Подобрать номер", name: "find-room", type: "submit"})