mixin rangeslider(header, min, max)
  .range-slider
    .range-slider__header-wrapper
      .range-slider__header #{header}
      .range-slider__range #{min}<span class="rub">ла</span>&nbsp; - #{max}<span class="rub">ла</span>
    .range-slider__slider
      .range-slider__slider-circle.range-slider__slider-circle--left
      .range-slider__slider-line
      .range-slider__slider-circle.range-slider__slider-circle--right