mixin roomCard(options)

  -
    if (!options) {
      options = {
        imgLink: require('../../blocks/room-card/no-photo.jpg'),
        num: "123", 
        price: "9 990", 
        stars: "5",
        comments: "10",
        lux: false,
        arrows: false
      }
    }
    options.imgLink = options.imgLink ? options.imgLink : require('../../blocks/room-card/no-photo.jpg')

  .room-card&attributes(attributes)
    .room-card__header
      img(src=options.imgLink alt="room photo" class="room-card__header-img")
      if options.arrows
        .arrows
          .arrows__shadow
          .arrows__arrow-left
            i.zmdi.zmdi-chevron-left
          .arrows__arrow-right
            i.zmdi.zmdi-chevron-right
      .slider-pagination
        .slider-pagination__item.slider-pagination__item_active
        .slider-pagination__item
        .slider-pagination__item
        .slider-pagination__item
    .room-card__title
      +roomInfo({
        num: options.num, 
        price: options.price, 
        lux: options.lux,
      }).room-heading-info_num-size_small
    .room-card__feedback
      .room-card__feedback-stars
        +ratebutton(options.stars)
      .room-card__feedback-comments 
        span #{options.comments}
        |  Отзывов