mixin toggle(text, checked)

  if checked
    label.label-toggle
      input(type="checkbox" name="checkbox" checked).label-toggle__input
      span.label-toggle__new-input 
      |#{text}
  else
    label.label-toggle
      input(type="checkbox" name="checkbox").label-toggle__input
      span.label-toggle__new-input 
      |#{text}