.comfort {
  // width: 100%;
  padding-bottom: 20px;
  font-size: 14px;
  line-height: 24px;
  position: relative;
  padding-left: 58px;
  border-bottom: 1px solid $dark-shade-10;

  &__title {
    font-weight: bold;
  }
  &__icon {
    position: absolute;
    top: 0;
    left: 5px;
    font-size: 48px;
    line-height: 41px;
  }
}