mixin comfort(title, desc, iconClass)
  .comfort&attributes(attributes)
    .comfort__icon
      i(class=iconClass).icon-color
    .comfort__description
      .comfort__title #{title}
      .comfort__text #{desc}