form.login-card
  .login-card__title 
    h1 Войти
  .login-card__name
    +inputText("Email", "email", "email")
  .login-card__secondname
    +inputText("Пароль", "password", "password")
  .login-card__login
    +button-form-wide({text: "Войти", name: "login-form", type: "submit"})
  .login-card__account-login
    .login-card__account-login-text Hет аккаунта на Toxin?
    .login-card__account-registration-button
      +button-link-secondary({text: "Создать", small: false, link: "sign-in.html"}).button-secondary_wide_custom