include ../mixins/_colors.pug
include ../mixins/_titles.pug
include ../mixins/_textfields.pug
include ../mixins/_dropdown.pug
include ../mixins/_checkbox.pug
include ../mixins/_radiobutton.pug
include ../mixins/_toggle.pug
include ../mixins/_likebutton.pug
include ../mixins/_ratebutton.pug
include ../mixins/_rangeslider.pug
include ../mixins/_buttons.pug
include ../mixins/_pagination.pug