include ../mixins/_colors.pug
include ../mixins/_titles.pug
include ../mixins/_textfields.pug
//- include ../mixins/_dropdown.pug
//- include ../mixins/_checkbox.pug
//- include ../mixins/_radiobutton.pug
//- include ../mixins/_toggle.pug
//- include ../mixins/_likebutton.pug
//- include ../mixins/_ratebutton.pug
//- include ../mixins/_rangeslider.pug
//- include ../mixins/_buttons.pug
//- include ../mixins/_pagination.pug
//- include ../mixins/_bulletlist.pug
//- include ../mixins/_comfort.pug
//- include ../mixins/_comment.pug
//- include ../mixins/_room-card.pug
include ../../blocks/textfield/textfield.pug
include ../../blocks/dropdown/dropdown.pug
include ../../blocks/date-dropdown/date-dropdown.pug
include ../../blocks/radio-button/radio-button.pug
include ../../blocks/subscribe/subscribe.pug
include ../../blocks/checkbox/checkbox.pug
include ../../blocks/toggle/toggle.pug
include ../../blocks/like-button/like-button.pug
include ../../blocks/rate-button/rate-button.pug
include ../../blocks/range-slider/range-slider.pug
include ../../blocks/buttons/buttons.pug
include ../../blocks/pagination/pagination.pug
include ../../blocks/bullet-list/bullet-list.pug
include ../../blocks/comfort/comfort.pug
include ../../blocks/comment/comment.pug
include ../../blocks/room-card/room-card.pug
include ../../blocks/room-info/room-info.pug