//- include ../utils/mixins
//- block variables

//- doctype html
//- html(lang='en')
//-   head
//-     meta(charset='utf-8')
//-     title #{title}
//-     meta(name="description", content=description)
//-     //- block head

//-   body(class=pageClass)
//-     .wrapper
//-         include ../includes/modules/header
//-         .content-wrapper
//-           block content
//-         include ../includes/modules/footer

include ./_mixins-links.pug
block variables
	
doctype html
html(lang="ru")
	head
		include ./_head.pug
		
	body(class=pageClass)
		block content
					
		include ./_foot.pug
