.label-check {
	display: block;
	margin-bottom: 12px;
	min-width: 200px;
	cursor: pointer;
	margin-left: 30px;
	position: relative;
	font-weight: normal;
	font-size: 14px;
	line-height: 18px;
}
/* Cкрываем стандартный чекбокс */
.label-check__input {
	display: none;
}
/* Новый чекбокс */
.label-check__new-input {
	position: absolute;
	left: -30px;
	top: -1px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 18px;
	color: $dark-shade-50;
	width: 20px;
	height: 20px;

	background: #FFFFFF;

	border: 1px solid $dark-shade-25;
	box-sizing: border-box;
	border-radius: 4px;
}
/* Новый чекбокс при выборе */
.label-check__input:checked + .label-check__new-input {
	border-color: $purple;

	.check-item {
		display: block;
	}
}
.check-item {
	display: none;
	position: absolute;
	top: 4px;
	left: 6px;
	width: 6px;
	height: 8px;
	border-right: 2px solid transparent;
	border-bottom: 2px solid transparent;
	transform: rotate(45deg);
	border-image: linear-gradient($primary-gradient);
	-moz-border-image: -moz-linear-gradient($primary-gradient);
	-webkit-border-image: -webkit-linear-gradient($primary-gradient);
	border-image-slice: 1;
}
.expandable-checbox {
	position: relative;
	width: 100%;
	min-width: 250px;
	&__header {
		margin-bottom: 18px;
		font-weight: bold;
		font-size: 12px;
		line-height: 15px;
		text-transform: uppercase;
		color: $dark-shade;

	}
	&__list {
		display: none;
	}
	&__arrow {
		position: absolute;
		top: -5px;
		right: 16px;
		font-weight: normal;
		font-size: 24px;
		line-height: 24px;
		color: $dark-shade-50;
	}
	&__list-item {
		margin-bottom: 10px;
	}
	&--active {
		.expandable-checbox__list {
			display: block;
		}
		.expandable-checbox__arrow {
			transform: rotate(180deg);
		}
	}
}

.label-check-rich {
	@extend .label-check;
	font-weight: bold;
	margin-bottom: 10px;

	&__input {
		@extend .label-check__input;
	}
	&__new-input {
		@extend .label-check__new-input;
	}

	&__description {
		font-weight: normal;
		font-size: 12px;
		line-height: 14px;
		color: $dark-shade-50;
		margin-top: 6px;
	}
}
