.dropdown {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 15px;
	position: relative;
	&--mask{
		color: $dark-shade-25;
		.dropdown__text-arrow {
			display: none;
		}
	}
	&--active {
		.dropdown-list{
			display: block;
		}
		.dropdown__text {
			border-color: $dark-shade-50;
			border-radius: 4px;
			box-shadow: 0px 10px 20px $dark-shade-5;
			padding-bottom: 0;
		}
	}
}
.dropdown__label {
	display: flex;
	justify-content: space-between;
	width: 100%;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	line-height: 15px;
	text-transform: uppercase;
	color: $dark-shade;
}
.dropdown__label-state {
	text-align: right;
	font-weight: normal;
	color: $dark-shade-50;
}
.dropdown__state{
	font-weight: normal;
	color: $dark-shade-50;
}
.dropdown__text {
	width: 100%;
	min-width: 150px;
	background: $default-color;
	border: 1px solid $dark-shade-25;
	box-sizing: border-box;
	border-radius: 4px;
	padding: 10px 15px;
	margin-top: 5px;
	position: relative;
	
}
.dropdown__text-arrow {
	position: absolute;
	right: 15px;
	top: 32px;
	font-size: 24px;
	line-height: 24px;
}
.dropdown-list {
	display: none;
	margin: 10px -15px 0 -15px;
	border-top: 1px solid $dark-shade-50;
	box-sizing: border-box;
	border-radius: 0 0 4px 4px;
	padding: 0 10px 5px;
}
.dropdown-list__item {
	display: flex;
	justify-content: space-between;
	margin-top: 5px;
	font-weight: bold;
	font-size: 12px;
	color: $dark-shade;
	text-transform: uppercase;
}
.dropdown-list__item-count {
	display: flex;
	justify-content: space-between;
	width: 85px;
	
}
.dropdown-list__item-minus,
.dropdown-list__item-plus,
.dropdown-list__item-number {
	width: 27px;
	height: 27px;
	text-align: center;
	border: 1px solid $dark-shade-25;
	box-sizing: border-box;
	border-radius: 50%;
	color: $dark-shade-50;
}
.dropdown-list__item-minus,
.dropdown-list__item-plus {
	padding-top: 7px;
}

.dropdown-list__item-number {
	border: none;
	color: $dark-shade;
}
.dropdown-list__action{
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
	font-weight: bold;
}
.dropdown-list__action-apply {
	color: $purple;
	padding-top: 15px;
	&:hover {
		cursor: pointer;
		color: darken($purple, 20%);
	}
}
.dropdown-list__action-clear {
	// display: none;
	color: $dark-shade-50;
	padding-top: 15px;
	padding-bottom: 5px;
	&:hover {
		cursor: pointer;
		color: $dark-shade-75;
	}
}