.pagination {
	font-size: 14px;
	line-height: 24px;
	width: 240px;
}
.pagination__pages{
	display: flex;
	font-size: 12px;
	line-height: 15px;
	&-item {
		display: inline-block;
		width: 40px;
		height: 40px;
		height: 40px;
		text-align: center;
		padding-top: 13px;
		&--active {
			color: $default-color;
			font-weight: bold;
			background: linear-gradient($primary-gradient);
			border-radius: 22px;
		}
		&--arrow {
			color: $default-color;
			padding-top: 8px;
			background: linear-gradient($secondary-gradient);
			border-radius: 22px;
		}
	}
}
.pagination__description {
	margin-top: 8px;
	text-align: center;
}