.input-text {
	border: 1px solid $dark-shade-25;
	box-sizing: border-box;
	border-radius: 4px;
	width: 100%;
	padding: 10px 15px;
	margin-top: 5px;
  
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 24px;
	color: $dark-shade-75;
  
	&:hover,
	&:focus {
		color: $dark-shade-75;
		border: 1px solid $dark-shade-50;
	}
	&::-webkit-input-placeholder, &:-moz-placeholder {
		font-family: Montserrat;
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		line-height: 18px;
		color: $dark-shade-25;
	}
}
.label__arrow{
	display: block;
	position: absolute;
	color: $purple;
	right: 10px;
	top: 30px;
}
.label {
	display: flex;
	flex-direction: column;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	line-height: 15px;
	text-transform: uppercase;
	color: $dark-shade;
	position: relative;
	padding-bottom: 20px;
}

.textfield-hover-focus .input-text {
	border: 1px solid $dark-shade-50;
	&::-webkit-input-placeholder, &:-moz-placeholder {
		color: $dark-shade-75;
	}
}