.room-price-card {
  padding: 44px 29px 29px;
  background: $default-color;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  @media (max-width: 350px) {
    padding-left: 15px;
    padding-right: 15px;
  }
  
  &__header-title {
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 21px;
  }
  &__title {
    margin-bottom: 5px;
  }
  &__date {
    display: flex;
    position: relative;
  }
  &__men {
    margin-top: 20px;
    margin-bottom: 19px;
  }
  &__date-arrival {
    margin-right: 20px;
  }
  &__total {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 24px;
    height: 19px;
  
  }
  &__total-text {
    font-family: $secondaryFont;
    background-color: #fff;
  }
  &__total-price {
    font-family: $secondaryFont;
    background-color: #fff;
  }
  &__total-between {
    flex-grow: 1;
    margin: 0 5px;
    border-bottom: 1px dotted $dark-shade-25;
  }
}
.room-number {
  font-family: $secondaryFont;
  &__symbol {
    font-size: 14px;
  }
  &__number {
    font-size: 24px;
    padding-left: 4px;
    padding-right: 6px;
  }
  &__type {
    font-family: $mainFont;
    color: $purple;
  }
}
.price-per-day {
  color: $dark-shade-50;
  line-height: 22px;
  &__text {
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    margin-left: 8px;
  }
}
.room-price-card-list {
  margin-left: 1px;
  padding-inline-start: 0;
  &__item-price {
    min-width: 80px;
    text-align: right;
  }
  &__item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  &__item-text {
    position: relative;
    padding-right: 22px;
    flex-grow: 1;
    line-height: 18px;
    margin-top: 2px;
  }
   &__days {
    padding-left: 4px;
    padding-right: 4px;
   }
   &__discount {
    white-space: nowrap;
   }
}
.service-info {
  position: absolute;
  top: 0;
  right: 0;
  width: 20px;
  height: 20px;
  border: 1px solid $dark-shade-25;
  box-sizing: border-box;
  border-radius: 10px;
  text-align: center;
  padding-bottom: 3px;
  color: $dark-shade-25;
  font-weight: bold;
  font-size: 12px;
  line-height: 20px;
}
