.header {
  background-color: #fff;
  display: flex;
  box-shadow: 0px 10px 20px #1F20410D;
  &__logo {
    display: flex;
  }
  &__container {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    height: 70px;
    max-width: 1160px;
    margin: 0 auto;
  }
  &__login {
    display: flex;
  }
  &__button-login {
    align-self: center;
    margin-right: 21px;
  }
  &__button-register {
    align-self: center;
  }
  &__user {
    padding-left: 31px;
    border-left: 1px solid $dark-shade-10;
    color: $dark-shade-50;
    height: 30px;
    align-self: center;
    display: none;
  }
  &__user-name {
    align-self: center;
  }
  &_logged-user {
    .header__button-login_logged-user {
      display: none;
    }
    .header__user-login_logged-user {
      display: flex;
    }
  }
}
.navigation {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;

  &__item {
    display: flex;
    margin: 0 27px 0 0;
    padding: 0;
    font-family: $mainFont;
    font-weight: normal;
    font-size: 14px;
    color: $dark-shade-50;
    cursor: pointer;
  }
  &__item:hover {
    .navigation__link {
      color: $dark-shade-75;
      font-weight: bold;
    }
    .inner-list {
      display: block;
    }
  }
  &__item_active {
    font-weight: bold;
    color: $dark-shade-75;
  }
  &__item_chevron {
    cursor: pointer;
  }
  &__link {
    align-self: center;
    text-decoration: none;
    color: $dark-shade-50;
  }
  &__link:after {
    display: block;
    content: attr(title);
    font-weight: bold;
    height: 0;
    overflow: hidden;
    visibility: hidden;
  }
}

.header__nav {
  display: flex;
}

.navigation-chevron {
  align-self: center;
  padding-left: 2px;
  font-size: 24px;
  line-height: 20px;
  color: $dark-shade-50;
  cursor: pointer;
}
.inner-list {
  display: none;
  position: absolute;
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-top: 70px;
  background-color: #fff;
  min-width: 120px;
  z-index: 5;
  &__link {
    font-weight: normal;
    background-color: #fff;
    display: block;
    padding: 10px;
    color: $dark-shade-50;
    text-decoration: none;
    &:hover {
      color: $dark-shade-75;
      font-weight: bold;
    }
  }
  
}
.hide {
  display: none;
}