.date-dropdown {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  border-color: $dark-shade-50;
  border-radius: 4px 4px 0 0;
}
.date-dropdown__text {
  font-family: $mainFont;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  width: 100%;
  background: $default-color;
  border: 1px solid $dark-shade-25;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 9px 30px 9px 14px;
  outline: none;
  &:hover,
  &:focus,
  &:active {
    border: 1px solid $dark-shade-50;
  }
}
.date-dropdown__text-arrow {
  position: absolute;
  right: 0;
  top: 0;
  padding: 0 15px 0 5px;
  height: 100%;
  display: flex;
  align-items: center;
  font-size: 24px;
  line-height: 24px;
  cursor: pointer;
}